*,
*::before,
*::after  {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*
 *
 * COLORS
 *
 */

/*
	Dark Orange: #ff7211;
	Light Orange: #ff9300;
	Yellow: #ffb500;
	White: #fff;
	Dark Gray: #333;
*/

/*
 *
 * FONTS
 *
 */

@font-face {
	font-family: 'Leckerli';
	src: url(../fonts/LeckerliOne-Regular.ttf);
}

@font-face {
	font-family: 'Noto Bold';
	src: url(../fonts/NotoSansJP-Bold.otf);
}

@font-face {
	font-family: 'Noto Medium';
	src: url(../fonts/NotoSansJP-Medium.otf);
}

@font-face {
	font-family: 'Noto Light';
	src: url(../fonts/NotoSansJP-Light.otf);
}

/*
 *
 * GLOBAL
 *
 */

body {
	background-color: rgba(255, 149, 0, .10);
	color: #333;
	/*width: 100%;*/
}

main {
	/*width: 100%;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/*line-height: 0;*/
}


/*
 *
 * NAV
 *
 */

/* Initial Navbar*/

nav,
footer {
	font-family: 'Noto Bold', sans-serif;
	letter-spacing: 1px;
	background-color: transparent;
	height: auto;
	padding: 30px 0 70px 0;
	margin: 0;
	line-height: 0;
	box-shadow: 0 0 0 0;
	/*color: white;*/
}

.navbar-fixed {
	height: 0;
}

nav ul a,
footer ul a {
	font-size: .9em;
	color: white;
}

.dark-nav { /* for js */
	background-color: #ff9300;
}

.left-menu {
	/*height: 300px;*/
}

.brand-img {
	height: 90px;
	padding-left: 60px;
}

.center-menu {
	text-align: center;
}

.center-menu ul {
	display: inline-block;
}

.center-menu li {
	margin: 40px 5px 0 5px;
}

.right-menu {
	text-align: right;
}

.right-menu ul {
	display: inline-block;
	padding-right: 60px;
}

.right-menu ul a {
	padding: 0;
}

.right-menu li {
	margin: 20px 5px 0 5px;
}

.right-menu img {
	height: 40px;
	margin: 0 0 0 0;
}

.btn-inv-white {
	border: 2px solid white;
	padding: 18px 12px;
}

.btn-inv-white:hover {
	border: 2px solid #ff7211;
}

nav .center-menu a:hover {
	background-color: transparent;
	color: #ff7211;
	border-bottom: 3px solid #ff7211;
	padding: 0 5px 15px 5px;
	margin: 0 10px;
}

.right-menu a:hover {
	color: #ff7211;
	/*height: 700px;*/
	width: 100%;
	background-color: transparent;
}

/*
 *
 * SIDENAV
 *
 */

.sidenav {
	background-color: #ff9300;
}

.sidenav img {
	height: 100px;
	margin: 40px 0 20px 12px;
}

.sidenav li > a {
	color: white;
	font-family: 'Noto Medium', sans-serif;
	/*line-height: 1.5em;*/
}

.sidenav hr {
	margin: 30px;
	border: 1px solid rgba(255,255,255,.5);
}

/*
 *
 * FOOTER
 *
 */

.page-footer {
	background-color: #ff9300;
	text-align: center;
	padding-bottom: 60px;
}

.page-footer .right-menu {
	text-align: left;
}

.page-footer .right-menu a {
	padding-left: 15px;
	padding-right: 15px;
}

.page-footer .center-menu li {
	float: left;
	margin: 40px 15px 10px 15px;
	padding: 0 5px 5px 5px;
}

.page-footer .center-menu li:hover {
	/*float: left;
	margin: 40px 20px 0 20px;
	padding: 0;*/
}

.page-footer .center-menu a:hover {
	background-color: transparent;
	color: #ff7211;
	border-bottom: 3px solid #ff7211;
	/*padding: 0 5px 15px 5px;*/
	/*margin: 0 10px;*/
	padding: 0 5px 5px 5px;
	margin: 40px -15px 10px -15px;
}

.contact {
	margin-bottom: 30px;
}

.contact .contact-icons {
	padding: 8px;
	/*display: block;*/
	background-color: #ffb500;
	margin: 0;
	/*padding: 20px;*/
	display: inline-block;
	border-radius: 50%;
}

.contact img {
	height: 18px;
}

.copyright {
	font-family: 'Noto Light', sans-serif;
	font-size: .8em;
	letter-spacing: 1px;
}

/*
 *
 * CONTACT
 *
 */

.contact-group {
	padding: 50px;
	width: 60%;
	margin: 50px auto;
}

.contact-group .contact-form {

}

.contact-form form .btn-brush {
	float: right;
}

.contact-details h2 {
	padding: 0 0 10px 0;
	margin: 0;
	font-family: 'Noto Bold', sans-serif;
	text-transform: uppercase;
	color: #ff7211;
	font-size: 1.5em;
}

.contact-details p {
	margin-bottom: 20px;
}

.contact-details img {
	height: 50px;
	margin-right: 10px;
}

/*
 *
 * DISTRIBUTOR
 *
 */

.distributor-wrapper {
}

.search-wrapper {
	margin: 20px auto;
}

.search-group {
	width: 10%;
	float: right;
}

.search-group form {
}

.distributor-map {
	width: 100%;
	height: 500px;
	background-color: #ff7211;
}

.distributor-wrapper {
	width: 70%;
	margin: 0 auto;
	color: #ff7211;
}

.distributor-details img {
	height: 50px;
}

.distributor-details h2 {
	font-family: 'Noto Medium', sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
	padding: 0;
	margin: 0 0 30px 0;
}

.distributor-category {
	margin-top: 11px;
	font-family: 'Noto Medium', sans-serif;
	font-size: 1.2em;
} 

.distributor-group {
	margin-bottom: 50px;
}

/*
 *
 * HOME
 *
 */

/*
 * Carousel
 */

.fic-slide {
	background-color: #ffb500;
	height: 100vh;
	width: 100vw;
	background-image: url('../img/hero//1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	background-attachment: fixed;
}

.fic-slide-overlay {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.fic-slide-overlay h1 {
	font-family: 'Leckerli', serif;
	font-size: 7em;
	color: white;
	margin: 0;
}

.fic-slide-overlay h2 {
	font-family: 'NotoSansJP-Medium', sans-serif;
	font-size: 1.2em;
	color: white;
	text-transform: uppercase;
	margin: 20px 0 70px 0;
}

.btn-brush {
	/*background: #ff9300;*/
	color: white;
	text-transform: uppercase;
	padding: 15px 35px 15px 25px;
	font-size: 1em;
	background-image: url('../img/assets/brush.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	font-family: 'Noto Medium', sans-serif;
	letter-spacing: 1px;
	/*background-attachment: fixed;*/
}

.btn-brush:hover {
	opacity: .7;
	cursor: pointer;
}

/*
 * Home Story
 */

.home-story {
	width: 75%;
	margin: 0 auto;
	text-align: center;
	padding: 100px;
}

.home-story img {
	height: 60px;
}

.home-story h2 {
	font-family: 'Leckerli', serif;
	color: #ff7211;
	font-size: 4em;
}
.home-story p {
	font-family: 'Noto Light', sans-serif;
	font-size: 1em;
	margin-bottom: 50px;
}

/*
 * Blocks
 */

.block {
	height: 85vh;
	background-color: #ff7211;
	border: 1px solid black;
	position: relative;
	margin: 0 auto;
}

.block-text {
	width: 65%;
	margin: 0 130px;
	text-align: right;
	position: absolute;
	/*padding-left: 150px;*/
	color: white;
}

.block-text h2 {
	font-family: 'Noto Bold', sans-serif;
	font-size: 5em;
	text-transform: uppercase;
}

.block-text p {
	font-family: 'Noto Light', sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	margin-bottom: 30px;
}

/*
 * Instagram
 */

.instagram {
	width: 90%;
	height: 300px;
	margin: 80px auto;
	background-color: #ff7211;
	/*text-align: center;*/
	position: relative;
}

.instagram p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: 'noto bold', sans-serif;
	letter-spacing: 1px;
	font-size: 2em;
}

/*
 *
 * ABOUT
 *
 */

/*
 * Header
 */

.fic-header {
	background-color: #ffb500;
	height: 55vh;
	width: 100vw;
	background-image: url('../img/hero//1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	background-attachment: fixed;
}

.fic-header-overlay {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.fic-header-overlay h2 {
	font-family: 'noto bold', sans-serif;
	font-size: 4em;
	color: white;
	text-transform: uppercase;
	padding-top: 50px;
}

/*
 * Body
 */

.timeline {
	width: 80%;
	margin: 0 auto;
}

.timeline .intro {
	text-align: center;
	width: 80%;
	margin: 60px auto;
}

.timeline .intro h2 {
	font-family: 'Leckerli', serif;
	color: #ff7211;
}

.timeline .year,
.timeline .event {
	color: #ff7211;
	font-size: 2em;
	margin: 0;
	padding: 0;
	line-height: 1;
}

.timeline .year {
	font-family: 'noto bold', sans-serif;
}

.timeline .event {
	font-family: 'noto light', sans-serif;
	margin-bottom: 18px;
}

.timeline .photo {
	height: 300px;
	background: #ff7211;
	margin-bottom: 18px;
}

.about-one,
.about-two {
	margin-bottom: 60px;
	/*padding: 200px;*/
}

.about-one div,
.about-two div {
	padding: 0 40px;
}

/*
 * Mid-hero
 */

.about-wrapper .parallax-container {
	height: 400px;
}

/*
 * MVC
 */

.mvc {
	width: 70%;
	margin: 50px auto;
}

.mvc-group {
	padding: 20px;
}

.mvc img {
	height: 50px;
}

.mvc h3 {
	font-family: 'Noto Medium', sans-serif;
	color: #ff7211;
	font-size: 1.2em;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 20px 0;
	margin: 0;
}

.mvc p {
	font-family: 'Noto Light', sans-serif;
	font-size: 1em;
}


/*
 *
 * FLAVOURS
 *
 */

/*
 * Flavor Filter
 */

.flavor-filter {
	width: 80%;
	margin: 0 auto;
	padding: 30px;
}

.flavor-filter li {
	font-family: 'Noto Bold', sans-serif;
	text-transform: uppercase;
	color: #ff7211;
	float: left;
	margin: 30px;
	text-align: center;
}

/*
 * Flavor Loop
 */

.flavor-catalogue {
	width: 80%;
	margin: 0 auto;
}

.flavor-group-container {
	background-color: #ffb500;
	height: 550px;
	/*width: 100vw;*/
	background-image: url('../img/flavors//1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	/*margin: 20px 40px;*/
}

.flavor-group-container {
	margin: 0 20px 60px 20px;
}

.flavor-group-overlay {
	/*text-align: center;*/
	position: absolute;
	bottom: 0;
	padding: 20px 20px 20px 45px;
	width: 100%;
	/*margin: 0 auto;*/
/*	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);*/
}

.flavor-group-overlay .flavor {
	font-family: 'noto bold', sans-serif;
	font-size: 1em;
	/*color: white;*/
	text-transform: uppercase;
}

.flavor-group-overlay p,
.flavor-group-overlay p:active,
.flavor-group-overlay p:visited {
	color: #333;
}

.flavor-group-overlay .category {
	font-family: 'noto light', sans-serif;
	font-size: 1em;

}

.flavor-group-overlay img {
	height: 25px;
	margin-top: 8px;
	/*float: right;*/
}

.flavor-group-overlay .icon {
	text-align: right;
	/*padding-right: 38px;*/
}

 /*
 * Pagination
 */

.flavor-pagination {
	text-align: center;
	font-family: 'Noto Light', sans-serif;

}

.pagination li a {
	color: #ff7211;
	padding: 0 5px;
	font-size: 1em;
}

.pagination li i {
	font-size: 1em;
	font-weight: bold;
	/*margin-top: 5px;*/
	padding-top: 8px;
}


.pagination li.active {
	background-color: transparent;
}

.pagination li.active a {
	color: #ff7211;
	font-weight: bold;
}

.pagination li.disabled a {
	color: transparent;
}

.pagination {
	margin: 0 0 85px 0;
}

/*
 *
 * FLAVOR INNER PAGE
 *
 */

.fic-slim-header {
	background-color: #ffb500;
	height: 40vh;
	width: 100vw;
	background-image: url('../img/hero//1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	background-attachment: fixed;
}

.flavor-page {
	width: 70%;
	margin: 0 auto;
	padding: 50px 0 50px 0;
}

.back-btn {
	font-family: 'Noto Light', sans-serif;
	font-size: 1em;
	color: #ff7211;
}

.flavor-page .photo {
	background-image: url('../img/flavors/1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	/*position: relative;*/
	width: 100%;
	height: 500px;
	background: #ff7211;
	margin: 50px 0;
}

.flavor-description {
	padding: 0 0 0 50px;
	/*margin: 200px;*/
	margin-top: 50px;
	/*background-color: red;*/
}

.flavor-description h3 {
	font-family: 'Noto Medium', sans-serif;
	padding: 0;
	margin: 0 0 10px 0;
	font-size: 1em;
	color: #ff7211;
}

.flavor-description h2 {
	font-family: 'Noto Bold', sans-serif;
	padding: 0;
	margin: 0 0 20px 0;
	font-size: 3em;
	color: #ff7211;
}

.flavor-description p {
	font-family: 'Noto Light', sans-serif;
	font-size: 1em;
	margin: 0 0 20px 0;
}

.flavor-description h4 {
	font-family: 'Noto Bold', sans-serif;
	padding: 0;
	margin: 0 0 50px 0;
	font-size: 2em;
	color: #ff7211;
}

.flavor-description .btn-brush {
	float: right;
}

/*
 *
 * DISOVER
 *
 */

.events,
.blog {
	width: 80%;
	margin: 0 auto;
}

.events {
	padding: 50px 0 0 0;
}

.blog {
	padding: 0 0 35px 0;
}

.calendar {
	height: 600px;
	/*height: 100%;*/
	width: 100%;
	background-color: #ff7211;
	position: relative;
	/*padding: 30px;*/
}

.calendar p {
	position: absolute;
	color: white;
	font-family: 'Noto Bold', sans-serif;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.upcoming-events {
	padding-left: 30px;
}

.upcoming-events h3,
.latest-blog h3 {
	font-family: 'Noto Bold', sans-serif;
	color: #ff7211;
	font-size: 1.5em;
	text-transform: uppercase;
	padding: 0;
	margin: 0 0 20px 0;
}

.upcoming-events div h3,
.latest-blog div h3 {
	font-size: 1.1em;	
	font-family: 'Noto Medium', sans-serif;
	padding: 0;
	margin-bottom: 5px;
	/*padding-top: 19px;*/
}

.upcoming-events p,
.latest-blog p {
	font-size: 1em;	
	font-family: 'Noto Light', sans-serif;	
	color: #333;
	/*text-transform: uppercase;*/
}

.event-thumb,
.blog-thumb {
	background-color: black;
	height: 124px;
	padding: 0;
	margin: 0 15px 0 0;
}

.blog-thumb {
	height: 150px;
}

.event-thumb .row {
	padding: 0;
	margin: 0;
}

.event-thumb-overlay {
	background-color: rgba(255,147,0,.5);
	height: 124px;
	width: 100%;
	/*padding: 0 0 0 15px;*/
	position: relative;
	/*padding: 0 -15px;*/
}

.event-thumb-overlay-text {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.day,
.month {
	color: #333;
	font-family: 'Noto Medium', sans-serif;
	text-transform: uppercase;
	text-align: center;
}

.day {
	font-size: 1.7em;
	padding: 0;
	margin: 0;
	line-height: 1em;
}

.month {
	font-size: 1em;
	padding: 0;
	margin: 0;
}

.blog-btn {
	text-align: center;
	margin: 30px 0;
}

/*
 *
 * CONTACT PAGE
 *
 */

.contact-intro {
	margin: 50px auto;
	width: 70%;
	text-align: center;
}

.contact-intro h2 {
	color: #ff7211;
	font-family: 'Noto Bold';
	font-size: 2.7em;
}

.contact-intro p {
	font-size: 1.2em;
}

.contact-map {
	height: 700px;
	width: 100%;
	background-color: #ff7211;
}

/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=text]:focus + label {
    color: #ff7211 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=email]:focus {
    border-bottom: 1px solid #ff7211 !important;
    box-shadow: 0 1px 0 0 #ff7211 !important;
}

/*
 *
 * Media Query S - Mobile
 *
 */

@media only screen and (max-width: 600px) {


	/* NAV */

	nav,
	footer {
		padding: 25px 25px 19px 25px;
	}

	nav .brand-logo {
		left: 0%;
		transform: translate(0%);
	}

	.brand-img {
		height: 50px;
		padding-left: 4px;
	}

	nav .sidenav-trigger {
		padding: 0;
		margin: 0;
	}

	.nav-wrapper .row, {
		padding: 0;
		margin: 0;
	}

	/*HOME*/

	.fic-slide-overlay {
		width: 75%;
	}

	.fic-slide-overlay h1 {
		font-size: 5em;
	}

	.fic-slide-overlay h2 {
		font-size: 1.5em;
		line-height: 1.5em;
	}

	.home-story {
		width: 100%;
		padding: 80px;
	}

	.block-text {
		margin: 0 0 0 50px;
		padding: 0;
		width: 65%;
	}

	.block-text h2 {
		font-size: 3em;
	}

	.block-text p {
		font-size: 1em;
	}

	/*ABOUT*/

	.about-two div,
	.about-one div {
		padding: 0;
	}

	.timeline .intro {
		width: 90%;
	}

	.timeline .intro h2 {
		font-size: 3em;
	}

	.timeline .year,
	.timeline .event {
		font-size: 1.5em;
	}

	.mvc {
		width: 90%;
	}

	/*CONTACT*/
	.contact-group {
		width: 100%;
		padding-bottom: 0;
		margin: 0 auto;
	}

	.contact-form {
		padding-top: 100px;
	}

	/*FLAVOURS*/

	.fic-header-overlay {
		width: 80%;
	}
	
	.fic-header-overlay h2 {
		font-size: 2.5em;
		padding-top: 20px;
	}

	.flavor-catalogue {
		width: 90%;
	}

	.flavor-filter {
		width: 100%;
	}

	/*FLAVOUR PAGE*/

	.flavor-description {
		padding: 0;
	}

	.flavor-page .photo {
		margin-bottom: 0;
	}

	.flavor-group-container {
		height: 350px;
	}

	/*DISCOVER*/

	.upcoming-events {
		padding: 0;
		margin: 50px 0 30px 0;
	}

	.upcoming-events p,
	.latest-blog p {
		font-size: .9em;
	}

	.calendar {
		height: 280px;
	}

	.event-thumb,
	.event-thumb-overlay,
	.blog-thumb {
		margin: 0;
		height: 80px;
	}

	/*DISTROBUTOR*/

	.distributor-wrapper {
		width: 90%;
	}

	.distributor-map {
		margin-top: 20px;
	}
}

/*
 *
 * Media Query M - Tablet
 *
 */

@media only screen and (min-width: 600px) and (max-width: 991px) {

	/* NAV */

	nav,
	footer {
		padding: 25px 25px 19px 25px;
	}

	nav .brand-logo {
		left: 0%;
		transform: translate(0%);
	}

	.brand-img {
		height: 60px;
		padding-left: 4px;
	}

	nav .sidenav-trigger {
		padding: 0;
		margin: 0;
	}

	.nav-wrapper .row {
		padding: 0;
		margin: 0;
	}

	/*FOOTER*/


	/*HOME*/

	.fic-slide-overlay {
		width: 80%;
	}

	.fic-slide-overlay h1 {
		font-size: 6em;
	}

	.fic-slide-overlay h2 {
		font-size: 1.5em;
		line-height: 1.5em;
	}

	.home-story {
		width: 100%;
	}

	/*ABOUT*/

	.about-two div,
	.about-one div {
		padding: 0;
	}

	.timeline .intro {
		width: 90%;
	}

	.timeline .intro h2 {
		font-size: 3em;
	}

	.timeline .year,
	.timeline .event {
		font-size: 1.5em;
	}

	.mvc {
		width: 85%;
	}

	/*CONTACT*/

	.contact-group {
		width: 80%;
		padding-bottom: 5px;
	}

	.contact {

	}

	.contact-form {
		padding-top: 90px;
	}

	/*FLAVOURS*/

	.fic-header-overlay {
		width: 80%;
	}

	.fic-header-overlay h2 {
		font-size: 2.5em;
		padding-top: 20px;
	}

	.flavor-catalogue {
		width: 90%;
	}

	.flavor-filter {
		width: 100%;
	}

	/*FLAVOUR PAGE*/

	.flavor-description {
		padding: 0;
	}

	.flavor-page .photo {
		margin-bottom: 0;
	}

	/*DISCOVER*/

	.upcoming-events {
		padding: 0;
		margin: 50px 30px 30px 30px;
	}

	.latest-blog {
		margin: 0 30px 30px 30px;
	}

	.calendar {
		height: 400px;
	}

	/*DISTRIBUTOR*/
	.distributor-map {
		margin-top: 20px;
	}

}

/*
 *
 * Media Query L - Desktop
 *
 */

@media only screen and (min-width: 992px) and (max-width: 1199px) {

	/* NAV */

	nav,
	footer {
		height: auto;
		padding: 50px 0 70px 0;
		margin: 0;
		line-height: 0;
	}

	.left-menu img {
		padding-left: 40px;
	}

	.center-menu li {
		padding: 0;
		/*font-size: 1.5em;*/
	}

	.page-footer .center-menu li {
		float: left;
		margin: 40px 0 0 0;
		padding: 0 5px 5px 5px;
	}

	.right-menu ul {
		padding-right: 30px;
	}

	.right-menu li {
		padding: 0 5px;
		margin: 20px 0 0 0;
	}

	nav ul a,
	footer ul a {
		font-size: .9em;
		/*color: red;*/
		padding: 0 5px;
	}

	/* Navbar On-scroll */

	.brand-img-fix {
		height: 42px;
		margin-top: 20px;
	}

	.nav-fix {
		padding: 0;
	}

	/*HOME*/

	.fic-slide-overlay h1 {
		font-size: 6em;
	}

	.fic-slide-overlay h2 {
		font-size: 1em;
	}

	.home-story {
		width: 80%;
	}

	.block-text h2 {
		font-size: 4em;
	}

	.block-text p {
		font-size: 1.5em;
	}

	.block-text {
		margin: 0 100px;
	}

	/*FLAVOURS*/

	.fic-header-overlay h2 {
		font-size: 3em;
		/*padding-top: 40px;*/
	}

	.fic-header-overlay {
		/*width: 100%;*/	
	}

	/*DISCOVER*/

	.distributor-wrapper {
		width: 80%;
	}

	.distributor-map {
		height: 400px;
	}
}

/*
 *
 * Media Query XL - Large Desktop
 *
 */

@media only screen and (min-width: 1200px) and (max-width: 1799px) {


	/* Navbar On-scroll */

	.brand-img-fix {
		height: 42px;
		margin-top: 20px;
	}

	.nav-fix {
		padding: 0;
	}

	/*FLAVOURS*/

	.flavor-group-container {
		/*height: 350px;*/
	}

	/*DICOVER*/

	.calendar {
		height: 500px;
	}

	.event-thumb,
	.event-thumb-overlay {
		height: 99px;
	}

}

/*
 *
 * Media Query XXL - Extra Large Desktop
 *
 */

@media only screen and (min-width: 1800px){


	/*DISCOVER*/

	.events,
	.blog {
		width: 70%;
	}

	/*DISTROBUTOR*/

	.distributor-wrapper {
		width: 60%;
	}

}

.clear:after {
	content: "";
	display: block;
	clear: both;
}